{% extends "user.html" %}
{% load static %}
{% block body %}
<div class="hero bg-white py-5">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-md-6 mb-3" >
              <h3 class="display-4 fw-bold">Staff Adjunct Claim</h3> <!-- 'fw-bold' for bold heading -->
              <p class="text-muted mb-5">Experience financial expansion with our custom-tailored solutions, designed to secure your financial future and prosperity. Discover who we are by exploring our comprehensive range of services.</p>
              <a href="{% url 'claim' %}" class="pill-button">File a Claim Now!</a>
          </div>
          <div class="col-md-6">
              <img src="../static/img/claim1.png" class="img-fluid" alt="Claim illustration">
          </div>
      </div>
  </div>
</div>

{% endblock %}