{% extends "user.html" %}
{% load static %}
{% block body %}

    <style>
        body {
            text-align: center;
            background: #fff;
        }

        .card-body {
            background: white;
            padding: 8vh 20px;
            display: inline-block;
            margin: 0 auto;
        }

        h1 {
            color: #88B04B; 
            font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
            font-weight: 900;
            font-size: 30px;
            margin-bottom: 10px;
        }

        p {
            color: #404F5E;
            font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
            font-size: 20px;
            margin: 0;
        }

        i {
            color: #9ABC66;
            font-size: 100px;
            line-height: 200px;
            margin-left: -15px;
        }

        .pill-button {
            background-color: #992621;
            border: none;
            color: white;
            border-radius:10px ;
            padding: 16px 22px;
            box-shadow: 0 2px 8px 0 rgba(48, 44, 255, 0.1);
            text-align: center;
            font-weight: bold;
            transition: width 2s;
            width: 50%;
        }
        
    </style>
    
    <div class="card-body">
        <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
            <i class="checkmark">✅</i>
        </div>
        <h1>Success</h1> 
        <p>{{ message }}</p>
        <br/>
        <a href="{% url 'home' %}">
            <button class="pill-button">Go Back Home</button>
        </a>
    </div>

{% endblock %}
